<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск нескольких пользователей</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/StyleFindUsers.css" type="text/css">
    <link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mainFindDiv">
        <p> Выберете поле, по которому Вы хотите искать пользователей <br>
            Введите значение, чтобы найти пользователя(-ей) <br>
            Кнопка "Очистить" убирает результаты поиска <br>
            </p>
        <div class="poisk">
            <form th:action="@{/findSomeUsers}" th:object="${someUsers}" method="post">
                <label for="selectParam"> Выберете параметр поиска</label>
                <select th:field="*{selectParam}" id="selectParam" name="selectParam" tabindex="1" required>
                    <option selected value="name">Имя</option>
                    <option value="secondName">Фамилия</option>
                    <option value="age">Возраст</option>
                    <option value="gender">Пол</option>
                    <option value="seriesPassport">Серия паспорта</option>
                    <option value="numberPassport">Номер паспорта</option>
                    <option value="telephone">Телефон</option>
                    <option value="login">Логин</option>
                </select>
                <br>
                <br>
                <label for="findThisUserSome"> Введите значение </label>
                <input type="text" id="findThisUserSome" name="findThisUserSome" th:field="*{gender}" placeholder="Введите значение" th:pattern="*{pattern}" th:title="*{titlePattern}" required>
                <br>
                <input type="submit" id="findThisSome" value="Найти" class="list-group-item list-group-item-success btn btn-large btn-success findBtnStyle">
            </form>
            <form th:action="@{/findSomeUsers}" th:object="${someUsers}" method="get">
                <input type="submit" id="ClearAllSome" value="Очистить" class="list-group-item list-group-item-danger btn btn-large btn-danger clearBtnStyle">
            </form>
        </div>
        <form th:action="@{/findSomeUsers}" th:object="${employUsers}" method="get">
            <h1>Результат поиска</h1>
            <table border="5" cellspacing="0" cellpadding="2" width="100%" align="center" class="spisok">
                <tr>
                    <th> Имя </th>
                    <th > Фамилия </th>
                    <th > Возраст </th>
                    <th > Пол </th>
                    <th > Серия паспорта </th>
                    <th > Номер паспорта </th>
                    <th > Телефон </th>
                    <th > Доп. информация </th>
                </tr>
                <tr name="trValue" th:each="someUser : ${employUsers}">
                    <td th:text="${someUser.name}"> </td>
                    <td th:text="${someUser.secondName}"> </td>
                    <td th:text="${someUser.age}"> </td>
                    <td th:text="${someUser.gender}"> </td>
                    <td th:text="${someUser.seriesPassport}"> </td>
                    <td th:text="${someUser.numberPassport}"> </td>
                    <td th:text="${someUser.telephone}"> </td>
                    <td th:text="${someUser.about}"> </td>
                </tr>
            </table>
            <input type="submit" id="topdfSome" value="Открыть pdf-файл" class="list-group-item list-group-item-primary btn btn-large btn-primary pdfBtnStyle" hidden >
        </form>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5 fcol5">
                    <h3>О сайте</h3>
                    <p style="font-size: 16px ">Сайт создан для научного интереса и практики. Поэтому не рекомендую Вам оставлять реальные данные, логин и пароль</p>
                </div>
                <div class="col-5 fcol5">
                    <h3>Информация</h3>
                    <p style="font-size: 16px ">Подписывайтесь, чтобы получать уведомления об изменениях на сайте</p>
                    <form action="" class="form-inline">
                        <input type="text" class="input-large" placeholder="Email"/>
                        <buttom type="submit" class="btn btn-info">Подписаться</buttom>
                    </form>
                    <p style="font-size: 16px "> Также Вы можете отправить отзыв о нашем сайте к нам на почту <a href="Search@erek.ru"> Search@erek.ru </a> </p>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row" style="padding-top:15px; padding-bottom:35px;" >
                <div class="footer-icons">
                    <p><small>Copyright 2022, ОАО "SearchEREK"</small></p>
                    <a href="https://ru.wikipedia.org/wiki/Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://ru.wikipedia.org/wiki/Твиттер"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script th:inline="javascript">
        var er = /*[[${someUsers}]]*/ ;
        console.log(er);
        if (er.er != null && er.er != "ok") {
            alert(er.er);
        }
        if (er.er === 'ok') {
           document.getElementById("topdf").hidden = false;
        }
    </script>

</body>
</html>