<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title> Main </title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <p> <th:block th:text="'приветэ ' + ${title}" ></th:block></p>


</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Spring Boot Thymeleaf Web Application</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welcome to Spring Boot Thymeleaf</h1>-->
<!--<p>-->
<!--    Hey there! <th:block th:text="${message}">message</th:block>-->
<!--</p>-->
<!--</body>-->
<!--</html>-->