<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sort</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/StyleFindUsers.css" type="text/css">
    <link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container mainFindDiv">
        <form th:action="@{/sortirovka}" th:object="${stroka}" method="post">
            <p> Введите числа через пробел </p>
            <div class="poisk">
                <input id="stringForSort" name="stringForSort" type="text" th:field="*{stringForSort}" pattern="^[ 0-9]+$" title="Только целые числа через пробел" placeholder="Введите данные для сортировки" required>
            </div>
            <button type="submit" id="sortedstringBubble" name="action" value="sortedstringBubble" class="list-group-item list-group-item-success btn btn-large btn-success findBtnStyle"> Отсортировать методом пузырька </button>
            <button type="submit" id="sortedstringLin" name="action" value="sortedstringLin" class="list-group-item list-group-item-success btn btn-large btn-success findBtnStyle"> Отсортировать линейным методом </button>
        </form>
        <form th:action="@{/sortirovka}" th:object="${stroka}" method="get">
            <label for="sortedstringBubbleResult"> Результат сортировки методом пузырька: </label>
            <output type="text" id="sortedstringBubbleResult" th:text="${stroka.stringBubbleSorted}"> </output>
        </form>
        <form th:action="@{/sortirovka}" th:object="${stroka}" method="get">
            <label for="sortedstringLinResult"> Результат сортировки линейным методом: </label>
            <output type="text" id="sortedstringLinResult" th:text="${stroka.stringLinSorted}"> </output>
        </form>
    </div>
</body>
</html>