<div th:fragment="header">
    <div  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm" style="background-color:black;">
        <h5 class="my-0 mr-md-auto font-weight-normal text-white"><a href="/" style="color:#CE2029; text-decoration: none;" value="Поисковичек"> Поисковичек </a></h5>
        <nav class="my-2 my-md-0 mr-md-3" >
            <a class="p-2 text-white" style="text-decoration: none;" href="/" value="Главная">Главная</a>
            <a id="findButton" class="p-2 text-white" style="text-decoration: none;" href="/findUsers" value="Поиск клиентов">Поиск клиентов</a>
            <a id="findAllButton" class="p-2 text-white" style="text-decoration: none;" href="/findSomeUsers" value="Поиск нескольких клиентов">Поиск нескольких клиентов</a>
        </nav>
        <div sec:authorize="isAnonymous()">
            <a id="login" type="submit" class="btn btn-outline-primary" value="Войти" href="/login"> Войти </a>
        </div>
        <div  sec:authorize="isAnonymous()">
            <a id="registration" type="submit" class="btn btn-outline-secondary" style="color:#EFCDB8;" value="Зарегистрироваться" href="/registration"> Зарегистрироваться </a>
        </div>
        <div sec:authorize="isAuthenticated()" sec:authentication="name" type="text" style="margin-right: 15px; padding: 5px; color:black; background-color: white;" > </div>
        <div sec:authorize="isAuthenticated()">
            <a type="submit" class="btn btn-outline-danger" value="Выйти" href="/logout"> Выйти </a>
        </div>

    </div>
</div>